<div class="center-block" style="margin-top: 12px;background: white;padding-bottom: 30px;">
  <span class="color-label"></span>
  <span class="block-header">ЛИЧНЫЙ КАБИНЕТ</span>

<ul class="type comment_type" style="margin-left: 25px;">
    <li class="active" data-value="my_data">Мои данные</li>
    <li data-value="my_adverts">Мои объявления</li>
</ul>
<div id="my_data" class="user_edit_type">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: :new_user }) do |f| %>
  <%= devise_error_messages! %>
  <div style="float: left">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %><br/>
      <i>(Оставьте пустым если не хотите менять)</i>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :current_password %>
      <%= f.password_field :current_password, autocomplete: "off" %><br />
      <i>(Введите пароль для сохранения изменений)</i>
    </div>

    <div class="field">
      <%= f.label :city %>
      <%= f.text_field :city %>
    </div>

    <div class="field">
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div>

    <div class="field">
      <%= f.label :addition_info %>
      <%= f.text_area :addition_info, :style => "margin: 0px; width: 168px; height: 86px;" %>
    </div>

    <div class="actions">
      <%= f.submit "Сохранить" %>
    </div>

  </div>
  <div style="float: left; margin-left: 40px;">
    <div class="field">
      <%= f.label :image %><br />
      <% if resource.image_file_name %>
        <%= image_tag resource.image.url(:inner) %><br />
      <% end %>
      <%= f.file_field :image, style: "font-family: 'DinCondProRegular'; font-size: 14px;" %>
    </div>
  </div>

<% end %>
<div class="clear"></div>
</div>
<div id="my_adverts" class="user_edit_type" style="display: none;">
  <ul>
    <% Car.where(user_id: current_user.id).order('id DESC').each do |a| %>
      <li><a href="/users/advert/<%= a.id %>">- <%= CarMark.find(a.mark).name %> <%= CarModel.find(a.model).name %>, <%= a.power %> л.с., <%= a.year %> г.в., <%= number_with_delimiter(a.mileage) %> км, <%= number_to_currency(a.price, locale: :ru, precision: 0) %></a> - <%= link_to 'Удалить', '/users/advert/'+a.id.to_s, :method => :delete, :confirm => "Вы уверены, что хотите удалить объявление" %>
    <% end %>
  </ul>
</div>

</div>

<% if !notice.blank? %>
<script type="text/javascript">
    $(document).ready(function(){
      $('ul li[data-value=my_adverts]').click();
      showSuccessForm(518, 180, 'Объявление успешно удалено', 'УДАЛЕНО')
    });
</script>
<% end %>
