<div class="center-block" style="margin-top: 12px;background: white;padding-bottom: 30px;">
    <span class="color-label"></span>
    <span class="block-header">РЕГИСТРАЦИЯ</span>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :addition_info %>
    <%= f.text_area :addition_info, :style => "margin: 0px; width: 174px; height: 86px;" %>
  </div>

  <div class="actions">
    <%= f.submit "Регистрация" %>
  </div>
<% end %>
</div>
