<div class="center-block" style="margin-top: 12px;background: white;padding-bottom: 30px;">
    <span class="color-label"></span>
    <span class="block-header">ВЫСЛАТЬ ИНСТРУКЦИЮ ПО РАЗБЛОКИРОВКЕ</span>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Выслать" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
