Заявка на аренду павильона
===============================================

Данные заказчика:
Имя: <%= @name %>
Почта: <%= @email %>
Телефон: <%= @phone %>
Желаемая площадь: <%= @sq %>
Доп информация: <%= @info %>