Заявка на поиск запчасти
===============================================
 
Характеристики авто:
Марка: <%= @mark %>
Модель: <%= @model %>
Год выпуска: <%= @year %>
Мощность: <%= @power %>
Объем: <%= @size %>
WIN код: <%= @win %>

Данные заказчика:
Имя: <%= @name %>
Почта: <%= @email %>
Телефон: <%= @phone %>
Описание проблемы: <%= @description %>