<div class="center-block" style="margin-top: 12px;background: white;padding-bottom: 30px;">
  <span class="color-label"></span>
  <span class="block-header">ЗАБЫЛИ ПАРОЛЬ?</span>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "Новый пароль" %><br />
    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Повторите новый пароль" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Сменить пароль", :style => "width: 250px;" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
