<div class="center-block" style="margin-top: 12px;background: white;padding-bottom: 30px;">
    <span class="color-label"></span>
    <span class="block-header">ЗАБЫЛИ ПАРОЛЬ?</span>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Прислать мне инструкцию по восстановлению", :style => "width: 310px;" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
