<div class="center-block" style="margin-top: 12px;background: white;padding-bottom: 30px;">
		<span class="color-label"></span>
		<span class="block-header"><%= @techcenter.name%></span>
		<div class="advert_info">
			<% if @techcenter.image_file_name %>
				<div class="advert_info_left_column">
					<img src="<%= @techcenter.image.url(:thumb_details) %>" class="original-image">
				</div>
			<% end %>
			<div class="advert_info_right_column">
				<div class="advert_info_header" style="float: left"><%= @techcenter.name%></div>
				<a class="show_on_map" href="/map?show_area=<%= @techcenter.map_label %>">Показать на карте</a>
				<div class="clear"></div>
				<div class="advert_info_params">
					<div class="advert_info_main_params" style="width: 210px">
						<span class="advert_param_label">Телефон:</span>
						<span class="advert_param_value"><%= @techcenter.phone %></span>
						<br />
						<span class="advert_param_label">Email:</span>
						<span class="advert_param_value"><%= @techcenter.email %></span>
						<br />
						<span class="advert_param_label">Адрес:</span>
						<span class="advert_param_value"><%= @techcenter.address %></span>
						<br />
						<span class="advert_param_label">Сайт:</span>
						<span class="advert_param_value"><%= @techcenter.site %></span>
					</div>
					<div class="advert_info_complectation">
						<span class="advert_info_complectation_header">Виды работ:</span>
						<ul>
							<% @techcenter.work_categories.each do |m|%>
										<li>- <%= m.name %></li>
							<% end %>
						</ul>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<div class="advert_info_addition_info">
				<div class="advert_info_addition_info_header">Описание тех. центра</div>
				<div class="advert_info_addition_info_content">
					<%= @techcenter.description.html_safe %>
				</div>
			</div>
		</div>
</div>