<div class="center-block" style="margin-top: 12px;background: white;padding-bottom: 30px;">
		<span class="color-label"></span>
		<span class="block-header">ТЕХ. ЦЕНТРЫ</span>

		<div class="search-harware-field">
			<%= form_tag('/techcenters', method: "get") do %>
             <%= select_tag :category, options_from_collection_for_select(@categories, "id", "name", params[:category]),prompt: "Виды работ", style: "width: 770px" %>
				<a href="#"><img src="<%= image_path('search-hardware-btn.png') %>"></a>
			<% end %>
		</div>
		<!--<a href=""><img src="<%= image_path('sender-reques.png') %>" class="sender-request"></a>-->

		<div class="clear"></div>

		<div class="hardware-catalog">
			<% @techcenters.each do |s|%>
				<div class="hardware-item">
					<div class="hardware-item-image"><a href="/techcenter/<%= s.id%>"><img src="<%= s.image.url(:thumb) %>"></a></div>
					<div class="hardware-item-description"><a href="/techcenter/<%= s.id%>"><%= s.name %></a></div>
				</div>
			<% end %>
		</div>
		<div class="clear"></div>
</div>