<div class="center-block" style="margin-top: 12px;background: white;padding-bottom: 30px;">
    <span class="color-label"></span>
    <span class="block-header">ВХОД</span>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Войти" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
