<div class="center-block" style="margin-top: 12px;">
		<div class="left">
			<span class="color-label"></span>
			<span class="block-header">ПРОДАЖА АВТО</span>
			<%= Banners::get_banners 'sell-auto', 'banner banner-slider', 'images' %>
			<ul class="slider-marks">
				<%= Banners::get_banners 'sell-auto', 'sell-auto', 'markers' %>
			</ul>
			<div class="clear"></div>
			<%= form_tag '/car', :method => 'get', :id => 'car-search' do %>
				<ul class="item-filter">
					<li>
						Марка&nbsp;
						<span class="select" data-window="mark"><span class="select-value">
									--
						</span> <img src="<%= image_path('arrow-select.png') %>" /></span>
						<div class="select-windows" id="mark-select"> 
							<% Car::get_marks().each do |m| %>
								<a href="#" data-field="mark" data-id="<%= m[0] %>" data-name="<%= m[1] %>" class="select-window-value"><%= m[1] %></a>
							<% end %>
						</div>
						<input type="hidden" name="car[mark]" id="car_mark_id" value="">
					</li>
					<li>
						Модель&nbsp;
						<span class="select" data-window="model"><span class="select-value">					
								--
						</span> <img src="<%= image_path('arrow-select.png') %>" /></span>
						<div class="select-windows" id="model-select"> 
							
						</div>
						<input type="hidden" name="car[model]" id="car_model_id" value="">
					</li>
					<li>
						Год&nbsp;
						<span class="select" data-window="year"><span class="select-value">
								--
						</span> <img src="<%= image_path('arrow-select.png') %>" /></span>
						<div class="select-windows" id="year-select">
								<% (1980..2015).each do |y| %>
									<a href="#" data-field="year" data-id="<%= y %>" data-name="<%= y %>" class="select-window-value"><%= y %></a>
								<% end %> 	
						</div>
						<input type="hidden" name="car[year]" id="car_year" value="">
					</li>
					<li>
						КПП&nbsp;
						<span class="select" data-window="transmission"><span class="select-value">
							--
						</span> <img src="<%= image_path('arrow-select.png') %>" /></span>
						<div class="select-windows" id="transmission-select"> 
								<a href="#" data-field="transmission" data-id="Механическая" data-name="Механическая" class="select-window-value">Механическая</a>
								<a href="#" data-field="transmission" data-id="Автоматическая" data-name="Автоматическая" class="select-window-value">Автоматическая</a>
						</div>
						<input type="hidden" name="car[transmission]" id="car_transmission" value="">
					</li>
				</ul>
			<% end %>
			<div class="clear"></div>
			<a href="/car/search" class="all-marks">Расширенный поиск</a>	
			<div class="ext-search" style="cursor: pointer" onclick="$('#car-search').submit()"></div>
		</div>
		<div class="center">
			<span class="color-label"></span>
			<span class="block-header">ЗАПЧАСТИ</span>
			<%= Banners::get_banners 'hardware-auto', 'banner banner-slider', 'images' %>
			<ul class="slider-marks">
				<%= Banners::get_banners 'hardware-auto', 'hardware-auto', 'markers' %>
			</ul>	
			<div class="clear"></div>
			<ul class="item-filter">
				<!--<li>Легковое авто <img src="<%= image_path('arrow.png') %>" /></li>-->
				<li>
					Марка&nbsp;
					<span class="select" data-window="mark-hardware"><span class="select-value">
							<% if @shop_query.car_mark_id && mark_name = CarMark.find(@shop_query.car_mark_id) %>
								<%= mark_name.name %>
							<% else %>
								--
							<% end %>
					</span> <img src="<%= image_path('arrow-select.png') %>" /></span>
					<div class="select-windows" id="mark-hardware-select"> 
						<% Car::get_marks().each do |m| %>
							<a href="#" data-field="mark-hardware" data-id="<%= m[0] %>" data-name="<%= m[1] %>" class="select-window-value"><%= m[1] %></a>
						<% end %>
					</div>
					<input type="hidden" name="car[mark-hardware]" id="car_mark_hardware_id" value="<%= @shop_query.car_mark_id %>">
				</li>
				<!--<li>Марка <img src="<%= image_path('arrow.png') %>" /></li>-->
				<li>
					Модель&nbsp;
					<span class="select" data-window="model-hardware"><span class="select-value">					
						<% if @shop_query.car_model_id && model_name = CarModel.find(@shop_query.car_model_id) %>
							<%= model_name.name %>
						<% else %>
							--
						<% end %>
					</span> <img src="<%= image_path('arrow-select.png') %>" /></span>
					<div class="select-windows" id="model-hardware-select"> 
						<% if @shop_query.car_model_id %>
							<% car_models = CarModel.where(id_car_mark: @shop_query.car_mark_id) %>
							<% car_models.each do |c| %>
								<a href="#" data-field="model-hardware" data-id="<%= c.id_car_model %>" data-name="<%= c.name %>" class="select-window-value" onclick="change_ajax_select_value(this); return false;"><%= c.name %></a>
							<% end %>
						<% end %>
					</div>
					<input type="hidden" name="car[model-hardware]" id="car_model_hardware_id" value="<%= @shop_query.car_model_id %>">
				</li>
				<!--<li>Модель <img src="<%= image_path('arrow.png') %>" /></li>-->
				<li>
					Год&nbsp;
					<span class="select" data-window="year-hardware"><span class="select-value">
						<% if @shop_query.year %>
							<%= @shop_query.year %>
						<% else %>
							--
						<% end %>
					</span> <img src="<%= image_path('arrow-select.png') %>" /></span>
					<div class="select-windows" id="year-hardware-select">
							<% (1980..2015).each do |y| %>
								<a href="#" data-field="year-hardware" data-id="<%= y %>" data-name="<%= y %>" class="select-window-value"><%= y %></a>
							<% end %> 	
					</div>
					<input type="hidden" name="car[year-hardware]" id="car_year_hardware" value="<%= @shop_query.year %>">
				</li>
				<!--<li>Год <img src="<%= image_path('arrow.png') %>" /></li>-->		
			</ul>
			<div class="find-item"></div>
		</div>
		<div class="right">
			<span class="color-label"></span>
			<span class="block-header">СЕРВИС</span>
			<%= Banners::get_banners 'service-auto', 'banner banner-slider', 'images' %>
			<ul class="slider-marks">
				<%= Banners::get_banners 'service-auto', 'service-auto', 'markers' %>
			</ul>
			<div class="clear"></div>
			<%= form_tag '/techcenters', :method => 'get', :id => 'techcenters-form' do %>
			<ul class="item-filter">
				<li style="width: 262px;">
						Виды услуг&nbsp;
						<span class="select" data-window="category"><span class="select-value">
									--
						</span> <img src="<%= image_path('arrow-select.png') %>" /></span>
						<div class="select-windows" id="category-select"> 
							<% WorkCategory.all.each do |m| %>
								<a href="#" data-field="category" data-id="<%= m.id %>" data-name="<%= m.name %>" class="select-window-value"><%= m.name %></a>
							<% end %>
						</div>
						<input type="hidden" name="car[category]" id="car_category_id" value="">
				</li>
			</ul>
			<% end %>
			<div class="find-service" onclick="$('#car_category_id').attr('name', 'category');$('#techcenters-form').submit();"></div>
		</div>
		<div class="clear"></div>
	</div>
	<%= render :partial => 'layouts/hardware_popup' %>