<div class="center-block" style="margin-top: 12px;background: white;padding-bottom: 30px;">
		<span class="color-label"></span>
		<span class="block-header">КАРТА ЦЕНТРА</span>
		<div class="content">
					<embed width="920" height="410" src="/maps/iamap.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" align="middle" play="true" loop="true" scale="showall" wmode="window" devicefont="false" bgcolor="#ffffff" name="iamap" menu="true" allowfullscreen="false" allowscriptaccess="sameDomain" salign="" flashvars="&show_area=<%= params[:show_area] if !params[:show_area].blank? %>&xml_file=/maps/data.xml" type="application/x-shockwave-flash">
		</div>
</div>