<div class="center-block" style="margin-top: 12px;background: white;padding-bottom: 30px;">
		<span class="color-label"></span>
		<span class="block-header">НОВОСТИ</span>
		<div class="left-news-column">
			<div class="news-archive">
				<span class="news-arhive-header">Лената новостей</span>
				<div class="news-archive-items">
					<% @news.each do |n| %>
						<% if !params[:alias].blank? and n.id == News.where(alias: params[:alias])[0].id %>
							<% css_class = 'news-archive-item-active' %>
						<% else %>
							<% css_class = 'news-archive-item' %>
						<% end %>
						<div class="<%= css_class %>">
							<a href="/news/<%= n.alias %>">
								<%= n.title %>
							</a>
						</div>
					<% end %>
				</div>
				<span class="news-arhive-footer">АРХИВ</span>
			</div>
			<div class="spec-orders">
				<% i = 0 %>
				<% @cars.each do |c| %>
					<div class="spec-order">
					<% i+=1 %>
					<% if i == 1 %>
						<span class="spec-order-header">Спецпредожения</span>
					<% end %>
						<a href="/car/advert/<%= c.id%>"><img class="spec-order-item-img" src="<%= c.photo1.url(:thumb) %>"></a>
						<span class="spec-order-item-header"><a href="/car/advert/<%= c.id%>"><%= c.mark_name%> <%= c.model_name%></a></span>
						<span class="spec-order-year"><%= c.year %></span>
						<span class="spec-order-price"><%= c.price %> р.</span>
						<div class="clear"></div>
						<% if c.status_new != 1 %>
							<span class="spec-order-label"><img src="<%= image_path('spec-order-label.png') %>"></span>
						<% end %>
					</div>
					<div class="clear"></div>
				<% end %>
				
					
					
				
				<!--<div class="spec-order">
					<img class="spec-order-item-img" src="<%= image_path('spec-order.png') %>">
					<span class="spec-order-item-header"><a href="#">Volkswagen Tiguan I</a></span>
					<span class="spec-order-year">2012</span>
					<span class="spec-order-price">1 015 000 р.</span>
					<div class="clear"></div>
					<span class="spec-order-label"><img src="<%= image_path('spec-order-label.png') %>"></span>
				</div>
				<div class="clear"></div>
				<div class="spec-order">
					<img class="spec-order-item-img" src="<%= image_path('spec-order.png') %>">
					<span class="spec-order-item-header"><a href="#">Volkswagen Tiguan I</a></span>
					<span class="spec-order-year">2012</span>
					<span class="spec-order-price">1 015 000 р.</span>
					<div class="clear"></div>
					<span class="spec-order-label"><img src="<%= image_path('spec-order-label.png') %>"></span>
				</div>
				<div class="clear"></div>-->
			</div>
		</div>
		<div class="right-news-column">
			<span class="news-content-header"><%= @title %></span>
			<span class="news-content"><%= @content.html_safe %></span>
			<!--<span class="news-tags">Теги: <a href="#">Nisssan</a>, <a href="#">поставки</a></span>-->
			<div style="height: 10px;"></div><!--Убрать есть вставятся тэги-->
			<div class="social-likes">
				<div class="facebook" title="Поделиться ссылкой на Фейсбуке">Facebook</div>
				<div class="twitter" title="Поделиться ссылкой в Твиттере">Twitter</div>
				<div class="vkontakte" title="Поделиться ссылкой во Вконтакте">Вконтакте</div>
				<div class="odnoklassniki" title="Поделиться ссылкой в Одноклассниках">Одноклассники</div>
				<div class="plusone" title="Поделиться ссылкой в Гугл-плюсе">Google+</div>
			</div>
			<div class="news-comments">
				<span class="news-commet-header">КОММЕНТАРИИ</span>
				<ul class="type comment_type">
					<li class="active" data-value="vk">VKontakte</li>
					<li data-value="fb">Facebook</li>
				</ul>
				<div class="clear"></div>
				<div id="vk" class="social_block_comments">
					<!-- Put this script tag to the <head> of your page -->
					<script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>

					<script type="text/javascript">
					  VK.init({apiId: 4731997, onlyWidgets: true});
					</script>

					<!-- Put this div tag to the place, where the Comments block will be -->
					<div id="vk_comments"></div>
					<script type="text/javascript">
					VK.Widgets.Comments("vk_comments", {limit: 5, width: "541", attach: "*"});
					</script>
				</div>	
				<div id="fb" class="social_block_comments" style="display: none;">
					<div id="fb-root"></div>
					<script>(function(d, s, id) {
					  var js, fjs = d.getElementsByTagName(s)[0];
					  if (d.getElementById(id)) return;
					  js = d.createElement(s); js.id = id;
					  js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.0";
					  fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));</script>
					<div class="fb-comments" data-href="http://7auto.pro" data-width="541" data-numposts="5" data-colorscheme="light"></div>
				</div>	
				<!--<ul class="news-comments-items">
					<li>
						<img src="<%= image_path('user_avatar.png') %>" class="news-comment-avatar">
						<span class="news-comment-header">Tin 25.11.2014 22:30</span>
						<span class="news-comment-content">Lorem ipsum</span>
						<a href="#" class="news-comment-reply">Ответить</a>
						<div class="clear"></div>
									<ul class="news-comments-items">
										<li>
											<img src="<%= image_path('user_avatar.png') %>" class="news-comment-avatar">
											<span class="news-comment-header">Tin 25.11.2014 22:30</span>
											<span class="news-comment-content">Lorem ipsum</span>
											<a href="#" class="news-comment-reply">Ответить</a>
											<div class="clear"></div>
													<ul class="news-comments-items">
														<li>
															<img src="<%= image_path('user_avatar.png') %>" class="news-comment-avatar">
															<span class="news-comment-header">Tin 25.11.2014 22:30</span>
															<span class="news-comment-content">Lorem ipsum</span>
															<a href="#" class="news-comment-reply">Ответить</a>
															<div class="clear"></div>
														</li>
														<li>
															<img src="<%= image_path('user_avatar.png') %>" class="news-comment-avatar">
															<span class="news-comment-header">Tin 25.11.2014 22:30</span>
															<span class="news-comment-content">Lorem ipsum</span>
															<a href="#" class="news-comment-reply">Ответить</a>
															<div class="clear"></div>
														</li>
													</ul>
										</li>
										<li>
											<img src="<%= image_path('user_avatar.png') %>" class="news-comment-avatar">
											<span class="news-comment-header">Tin 25.11.2014 22:30</span>
											<span class="news-comment-content">Lorem ipsum</span>
											<a href="#" class="news-comment-reply">Ответить</a>
											<div class="clear"></div>
										</li>
									</ul>
					</li>
					<li>
						<img src="<%= image_path('user_avatar.png') %>" class="news-comment-avatar">
						<span class="news-comment-header">Tin 25.11.2014 22:30</span>
						<span class="news-comment-content">Lorem ipsum</span>
						<a href="#" class="news-comment-reply">Ответить</a>
						<div class="clear"></div>
					</li>
					<li>
						<img src="<%= image_path('user_avatar.png') %>" class="news-comment-avatar">
						<span class="news-comment-header">Tin 25.11.2014 22:30</span>
						<span class="news-comment-content">Lorem ipsum</span>
						<a href="#" class="news-comment-reply">Ответить</a>
						<div class="clear"></div>
					</li>
					<li>
						<img src="<%= image_path('user_avatar.png') %>" class="news-comment-avatar">
						<span class="news-comment-header">Tin 25.11.2014 22:30</span>
						<span class="news-comment-content">Lorem ipsum</span>
						<a href="#" class="news-comment-reply">Ответить</a>
						<div class="clear"></div>
					</li>
					<li>
						<img src="<%= image_path('user_avatar.png') %>" class="news-comment-avatar">
						<span class="news-comment-header">Tin 25.11.2014 22:30</span>
						<span class="news-comment-content">Lorem ipsum</span>
						<a href="#" class="news-comment-reply">Ответить</a>
						<div class="clear"></div>
					</li>
					<li>
						<img src="<%= image_path('user_avatar.png') %>" class="news-comment-avatar">
						<span class="news-comment-header">Tin 25.11.2014 22:30</span>
						<span class="news-comment-content">Lorem ipsum</span>
						<a href="#" class="news-comment-reply">Ответить</a>
						<div class="clear"></div>
					</li>
				</ul>
				<div class="news-comment-message">
					<a href="#">АВТОРИЗУЙТЕСЬ</a> или <a href="#">ЗАРЕГИСТРИРУЙТЕСЬ</a>, что бы оставлять комментарии
				</div>-->
			</div>
		</div>
		<div class="clear"></div>
</div>