<div class="center-block" style="margin-top: 12px;background: white;padding-bottom: 30px;">
		<span class="color-label"></span>
		<span class="block-header"><%= @page[0].name %></span>
		<div class="content">
					<%= @page[0].content.html_safe %>
		</div>
</div>