<div class="center-block" style="margin-top: 12px;background: white;padding-bottom: 30px;">
		<span class="color-label"></span>
		<span class="block-header">МАГАЗИНЫ</span>

		<div class="search-harware-field">
			<%= form_tag('/spare_parts', method: "get") do %>
				<%= select_tag :mark, options_from_collection_for_select(@marks, "id_car_mark", "name", params[:mark]),prompt: "Марка авто" %>
                <%= select_tag :category, options_from_collection_for_select(@categories, "id", "name", params[:category]),prompt: "Категория товара" %>
				<a href="#"><img src="<%= image_path('search-hardware-btn.png') %>"></a>
			<% end %>
		</div>
		<!--<a href=""><img src="<%= image_path('sender-reques.png') %>" class="sender-request"></a>-->

		<div class="clear"></div>

		<div class="hardware-catalog">
			<% @spare_parts.each do |s|%>
				<div class="hardware-item">
					<div class="hardware-item-image"><a href="/spare_parts/<%= s.id%>"><img src="<%= s.image.url(:thumb) %>"></a></div>
					<div class="hardware-item-description"><a href="/spare_parts/<%= s.id%>"><%= s.name %></a></div>
				</div>
			<% end %>
		</div>
		<div class="clear"></div>
</div>