<div class="center-block" style="margin-top: 12px;background: white;padding-bottom: 30px;">
		<span class="color-label"></span>
		<span class="block-header"><%= @shop.name %></span>
		<div class="advert_info">
			<% if @shop.image_file_name %>
				<div class="advert_info_left_column">
					<img src="<%= @shop.image.url(:thumb_details) %>" class="original-image">
				</div>
			<% end %>
			<div class="advert_info_right_column">
				<div class="advert_info_header" style="float: left;"><%= @shop.name%></div>
				<a class="show_on_map" href="/map?show_area=<%= @shop.map_label %>">Показать на карте</a>
				<div class="clear"></div>
				<div class="advert_info_params">
					<div class="advert_info_main_params" style="width: 210px">
						<span class="advert_param_label">Телефон:</span>
						<span class="advert_param_value"><%= @shop.phone %></span>
						<br />
						<span class="advert_param_label">Email:</span>
						<span class="advert_param_value"><%= @shop.email %></span>
						<br />
						<span class="advert_param_label">Адрес:</span>
						<span class="advert_param_value"><%= @shop.address %></span>
						<br />
						<span class="advert_param_label">Сайт:</span>
						<span class="advert_param_value"><%= @shop.site %></span>
					</div>
					<div class="advert_info_complectation">
						<table>
						<tr><td>
						<span class="advert_info_complectation_header">Марки авто:</span>
						<ul>
							<% @shop.car_mark.each do |m|%>
										<li>- <%= m.name %></li>
							<% end %>
						</ul>
						</td></tr>
						<tr></td>
						<span class="advert_info_complectation_header">Категории товаров:</span>
						<ul>
							<% @shop.product_categories.each do |m|%>
										<li>- <%= m.name %></li>
							<% end %>
						</ul>
						</td></tr>
						</table>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<div class="advert_info_addition_info">
				<div class="advert_info_addition_info_header">Описание магазина</div>
				<div class="advert_info_addition_info_content">
					<%= @shop.description.html_safe %>
				</div>
			</div>
		</div>
</div>