@font-face {
    font-family: "DinCondProLight";
    src: url(asset-path('PFDINTEXTCONDPRO-LIGHT.TTF'));
}

@font-face {
    font-family: "DinCondProBold";
    src: url(asset-path('PFDINTEXTCONDPRO-BOLD.TTF'));
}

@font-face {
    font-family: "DinCondProMedium";
    src: url(asset-path('PFDINTEXTCONDPRO-MEDIUM.TTF'));
}

@font-face {
    font-family: "DinCondProRegular";
    src: url(asset-path('PFDINTEXTCONDPRO-REGULAR.TTF'));
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
	background: url(asset-path('bg.png'));
}

/*input {
    margin: 0;
    padding: 0;
}*/
.page{
    min-height: 100%;
    margin-bottom: -226px;
}
p {
    margin: 0;
    padding: 0;
}
* html .page {
    height: 100%;
}
.page-buffer {
    height: 210px;
}

.footer {
	height: 226px;
}

.header {
    height: 227px;
    background-image: url(asset-path('header-bg.png'));
    background-position-x: center;
    background-color: #0f1b3b;
    background-repeat: no-repeat;
}

.center-block {
    margin: 0 auto;
    width: 966px;
}

.logo {
    float: left;
    margin-left: 85px;
    margin-top: 25px;
}

.menu {
    float: left;
    list-style-type: none;
    margin-left: 20px;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

.menu li:last-child {
    border: 1px solid rgba(255, 255, 255, 0.7);
    padding:5px 10px 5px 10px;
}

.menu a {
    text-decoration: none;
    font-family: "DinCondProBold";
    font-size: 14px;
    color: #ffffff;
    opacity: .70;
}

.clear {
    clear: both;
}

.rent-btn {
    float: right;
    margin-top: 19px;
    margin-right: 90px;
}

.search {
    margin-top: 50px;
    float: left;
}

.search input[type=text] {
    width: 207px;
    color: #595959;
    font-family: "DinCondProBold";
    font-size: 12px;
    height: 17px;
    outline: none;
    vertical-align: baseline;
    position: relative;
    top: -6px;
}

.search input[type=submit] {
    background: url(asset-path('search-btn.png')) no-repeat;
    width: 25px;
    height: 23px;
    border: 0; 
}

.login {
    float: right;
    margin-top: 40px;
    margin-right: 35px;
}


.register-btn, .devider {
    font-family: "DinCondProLight";
    font-size: 12px;
    color: #ffffff;
        position: relative;
    top: 1px;
}

.devider {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    top: 8px;
}

.login input[type=text], .login input[type=password] {
    width: 104px;
    height: 22px;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-family: "DinCondProBold";
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    padding-left: 7px;
}

.login input[type=submit] {
    background: url(asset-path('login-btn.png')) no-repeat;
    border: none;
    width: 52px;
    height: 23px;
    position: relative;
    top: 8px;
}

.left, .center, .right {
    float: left;
    width: 322px;
    height: 385px;
    background: url(asset-path('blocks-bg.png')) no-repeat;
}

.color-label {
    margin-left: 28px;
    background: #5eaaf1;
    width: 108px;
    height: 8px;
    display: block;
}

.block-header {
    color: #5eaaf1;
    font-family: "DinCondProBold";
    font-size: 16px;
    display: block;
    margin-top: 7px;
    margin-left: 28px;
}

.banner {
    margin-left: 30px;
    margin-top: 7px;
}

.slider-marks {
        margin-left: 120px;
    display: block;
    margin-top: 0px;
}

.slider-marks li {
    color: #b7b7b7;
    float: left;
    width: 15px;
}

.slider-marks li.active {
    color: #344269;
}

.marks {
    list-style-type: none;
}

.marks li {
    float: left;
    margin-right: 30px;
}

.marks a {
    font-family: "DinCondProBold";
    font-size: 15px;
    color: #707070;
    text-decoration: none;
}

.marks a.all-marks {
    text-decoration: underline;
    color: #5eaaf1;
}

a.all-marks {
    font-family: "DinCondProBold";
    font-size: 15px;
    text-decoration: underline;
    color: #5eaaf1; 
    display: block;
    text-align: center;
    margin-top: 0px;
}

.ext-search {
    background: url(asset-path('ext-search.png')) no-repeat;
    width: 322px;
    height: 50px;
    margin-top: 2px;
}

.item-filter {
    list-style-type: none;
}

.item-filter li, .item-filter label {
    float: left;
    width: 140px;
    color: #707070;
    font-size: 18px;
    font-family: "DinCondProRegular";
}


.item-filter li img {
    position: relative;
    top: -3px;
}

.find-item {
    background: url(asset-path('find-item.png')) no-repeat;
        width: 321px;
    height: 50px;
    margin-top: 92px;
    cursor: pointer;
}

.map-btn {
    display: block;
}

.news {
    list-style-type: none;
    margin-left: 75px;
}

.news li {
    float: left;
    width: 213px;
    margin-right: 60px;
}

.news li a {
    display: block;
}

.news .date {
    color: #5c5c5c;
    font-size: 12px;
    font-family: "DinCondProRegular";
    margin-bottom: 15px;
    display: block;
}

.news img {
    margin-bottom: 15px;
    display: block;
}

.news .news-header {
    color: #559cd2;
        font-family: "DinCondProRegular";
    margin-bottom: 15px;
    text-decoration: none;
}

.news .news-intro {
    color: #707070;
            font-family: "DinCondProRegular";
    margin-bottom: 14px;
}

.footer-contacts {
    color: #3a3a3a;
    font-size: 20px;
    font-family: "DinCondProLight";
    text-align: center;
    padding-top: 25px;
}

.show-map-btn {
    text-align: center;
    display: block;
    background: url(asset-path('hor-line.png')) repeat-x 0px 22px;
    position: relative;
    top: -21px;
}

.show-map-btn img {
    cursor: pointer;
}

.print-scheme-center {
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 35px;
}

.print-scheme-center a {
    color: #888888;
    font-size: 15px;
    font-family: "DinCondProLight";
}

.footer-menu {
    list-style-type: none;
    padding-top: 30px;
    margin-left: 0px;
    display: block;
}

.footer-menu li {
    float: left;
    margin-right: 35px;
    text-align: left;

}

.footer-menu a {
    color: #7f7f7f;
    font-size: 13px;
    font-family: "DinCondProBold";
    text-decoration: none;
}

.footer-submenu {
    list-style-type: none;
    padding-left: 0px;
}

.footer-submenu li {
    float: none;
}

.footer-submenu a {
    color: #7f7f7f;
    font-size: 11px;
    font-family: "DinCondProBold";
}

.footer-contacts-block {
    background: url(asset-path('footer-contacts.png')) no-repeat;
    width: 203px;
    height: 92px;
    color: #7f7f7f;
    font-size: 15px;
    font-family: "DinCondProRegular";
    padding-top: 30px;
    padding-left: 20px;
}

.copy {
    color: #7f7f7f;
    font-size: 15px;
    font-family: "DinCondProRegular";
    display: block;
    margin-left: 40px;
    margin-top: 30px;
}

.filter-column {
    padding-left: 70px;
    float: left;
}

.type {
    list-style-type: none;
    padding-left: 0px;
}

.type li {
    float: left;
    color: #b2b2b2;
    font-size: 18px;
    font-family: "DinCondProRegular";
    background: #e7e7e7;
    margin-right: 15px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.type li.active {
    color: #ffffff;
    background: #20304d;
}

.fields {
    margin-top: 20px;
    color: #707070;
    font-size: 15px;
    font-family: "DinCondProRegular"; 
}

label {
    color: #20304d;
    font-size: 15px;
    font-family: "DinCondProBold"; 
    display: inline-block;
    margin-right: 10px;
}

.select {
    font-family: "DinCondProRegular";
    font-size: 15px;
    color: #707070;
    border-bottom: 1px dotted  #707070;
    cursor: pointer;
}

.select img {
    position: relative;
    top: -2px;
}

.price-input {
    width: 64px;
    height: 22px;
}

.form-type {
    width: 273px;
    list-style-type: none;
    padding-left: 0;
}

.form-type li {
    width: 65px;
    float: left;
    text-align: center;
    margin-right: 26px;
    cursor: pointer;
    margin-bottom: 20px;
    height: 90px;
}

.form-type img {
    border: 1px solid #dddddd;
}

#map {
    height: 90px;
}

.welcome-text {
    font-family: "DinCondProRegular";
    font-size: 15px;
    color: white;
    float: right;
    margin-top: 45px;
    margin-right: 35px;
}

.logout_btn_header {
    font-family: "DinCondProRegular";
    font-size: 15px;
    color: white;
}

.left-news-column {
    width: 295px;
    margin-left: 28px;
}

.news-archive {
    width: 295px;
    height: 473px;
    margin-bottom: 38px;
    margin-top: 20px;
}

.news-arhive-header {
    width: 285px;
    height: 30px;
    background: #344269;
    font-family: "DinCondProMedium";
    font-size: 15px;
    color: white;
    display: block;
    vertical-align: middle;
    padding-top: 12px;
    padding-left: 10px;
}

.news-arhive-footer {
    width: 295px;
    width: 100%;
    height: 30px;
    background: #344269;
    font-family: "DinCondProRegular";
    font-size: 15px;
    color: rgba(255, 255, 255, .55);
    display: block;
    text-align: center;
    padding-top: 12px;
}

.news-archive-items {
    max-height: 395px;
    width: 100%;
    width: 295px;
    overflow-y: scroll;
}

.news-archive-item {
    padding: 14px 18px 14px 18px;
    border-bottom: 1px dotted rgba(227, 226, 225, .55);
    font-family: "DinCondProRegular";
    font-size: 15px;
    color: #559cd2;
    width: 235px;
    margin-top: 10px;
    cursor: pointer;
}

.news-archive-item a {
    color: #559cd2;
}

.news-archive-item-active {
    padding: 14px 18px 14px 18px;
    border: 2px solid rgba(219, 234, 245, .55);
    font-family: "DinCondProBold";
    font-size: 15px;
    color: #559cd2;
    width: 235px;
    margin-top: 10px;
    cursor: pointer;
}

.news-archive-item-active a {
    color: #559cd2;
}

.spec-order {
    background: #dedbd4;
    padding: 22px 22px 22px 22px;
    margin-bottom: 3px;

}

.spec-order span {
    display: block;
}

.spec-order-header {
    display: block;
    font-family: "DinCondProMedium";
    font-size: 15px;
    color: #827d75;
    padding-top: 16px;
    padding-bottom: 16px;
}

.spec-order-item-img {
    float: left;
    margin-right: 15px;
}

.spec-order-label {
    margin-top: -15px;
    position: absolute;
}

.spec-order-item-header a {
    font-family: "DinCondProRegular";
    font-size: 16px;
    color: #559cd2;
    text-decoration: none;
}

.spec-order-year {
    font-family: "DinCondProRegular";
    font-size: 14px;
    color: #5c5c5c;
}

.spec-order-price {
    font-family: "DinCondProBold";
    font-size: 18px;
    color: #000000;
    margin-top: 10px;
}

.news-content-header {
    font-family: "DinCondProRegular";
    font-size: 25px;
    color: #559cd2;
    display: block;
}

.news-content {
    font-family: "DinCondProRegular";
    font-size: 14px;
    color: #707070;
}

.right-news-column, .left-news-column {
    float: left;
}

.right-news-column {
    width: 583px;
    margin-left: 40px;
    margin-top: 20px;
}

.news-tags {
    display: block;
    font-family: "DinCondProRegular";
    font-size: 14px;
    color: #707070;
    margin-top: 14px;
    margin-bottom: 14px;
}

.news-tags a {
    color: #559cd2;
    font-family: "DinCondProRegular";
    font-size: 14px;
}

.news-comments {
    border: 1px solid #dadada;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-top: 14px;
}

.news-commet-header {
    font-family: "DinCondProBold";
    font-size: 14px;
    color: #20304d;

}

.news-comments-items {
    list-style-type: none;
    padding-left: 0;
}

.news-comments-items li {
    margin-top: 20px;
}

.news-comment-avatar {
    float: left;
    margin-right: 10px;
}

.news-comment-header {
    color: #707070;
    font-family: "DinCondProRegular";
    font-size: 12px;
    display: block;
}

.news-comment-content {
    tcolor: #707070;
    font-family: "DinCondProRegular";
    font-size: 14px;
    display: block;
}

.news-comment-reply {
    tcolor: #559cd2;
    font-family: "DinCondProRegular";
    font-size: 14px;
}

.news-comments-items ul {
    margin-left: 25px;
}

.news-comment-message {
        tcolor: #707070;
    font-family: "DinCondProRegular";
    font-size: 14px;
}

.news-comment-message a {
        tcolor: #60a3d5;
    font-family: "DinCondProBold";
    font-size: 14px;
}

.select-windows {
    width: 500px;
    min-height: 50px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    padding: 15px;
    border: 1px solid rgba(122,122,122,0.5);
    border-radius: 3px;
    display: none;
    position: absolute;
    background: white;
    z-index: 99;
}
.select-windows a {
    margin-bottom: 10px;
    width: 150px;
    display: inline-table;
    font-size: 15px;
    font-family: "DinCondProRegular";
}

.car-marks {
    /*padding-left: 28px;*/
}

.car-marks ul {
    list-style-type: none;
    padding: 0;
    width: 938px;
    float: left;
    overflow: hidden;
    height: 20px;
    margin-left: 28px;
}

.car-marks ul li {
    float: left;
    width: 117px;
    margin-bottom: 17px;
}

.car-marks .car-mark-name {
    font-size: 15px;
    text-decoration: none;
    font-family: "DinCondProBold";
    color: #707070;

}

.car-marks .car-mark-name span {
    font-size: 15px;
    text-decoration: none;
    font-family: "DinCondProLight";
    color: #707070;
}

.show-all {
    font-family: "DinCondProMedium";
    color: #5eaaf1;
    display: block;
    text-align: center;
}

.banner-car-right {
    background: url(asset-path('car-banner-bg.png')) repeat-x;
    display: inline-block;
    width: 233px;
    height: 417px;
    margin-top: -34px;
}

.banner-car-right img {
    border: 1px solid #c8c8c9;
    margin-left: 24px;
    margin-top: 26px;
}

.car-panel {
    display: block;
}

.catalog {
    padding-top: 32px;
    padding-left: 34px;
}

.catalog .item {
    display: inline-block;
    margin-right: 31px;
}

.catalog .item span {
    display: block;
    margin-top: 7px;
}

.catalog .item .spec-order-year {
    margin-top: 4px;
}

.catalog .item .spec-order-label {
    margin-top: -19px;
}

.search-harware-field {
    width: 900px;
    height: 46px;
    background: #dcd9d2;
    margin-left: 28px;
    margin-top: 28px;
    display: inline-block;
}

.search-harware-field select {
    width: 376px;
    height: 20px;
    margin-top: 12px;
    margin-left: 13px;
}

.search-harware-field img {
    top: 5px;
    margin-left: 4px;
    position: relative;
}

.sender-request {
    top: 19px;
    position: relative;
    margin-left: 10px;
}

.hardware-catalog {
    padding-left: 69px;
    padding-right: 137px;
    margin-top: 32px;
}

.hardware-item {
    display: inline-table;
    width: 117px;
    text-align: center;
    margin-left: 68px;
    margin-top: 14px;
}

.hardware-item-image {
    width: 117px;
    height: 117px;
    border: 1px solid #dcd9d2;
}

.hardware-item-description a {
    font-family: "DinCondProRegular";
    font-size: 13px;
    color: #707070;
    text-decoration: none;
}

.vk {
    width: 541px;
}

.new_user {
    margin-left: 28px;
    margin-top: 20px;
}

.new_user .field {
    margin-top: 10px;
}

.new_user .actions {
    margin-top: 10px;
}

.new_user label {
    font-family: "DinCondProRegular";
    color: #707070;
    font-size: 15px;
    width: 100px;
}

.new_user label[for=user_remember_me] {
    width: 200px;
}


.new_user input[name=commit] {
    font-family: "DinCondProBold";
    font-size: 16px;
    color: #fefeff;
    border: 0;
    background-color: #2f3b5f;
    width: 100px;
    height: 41px;
    cursor: pointer;
}

.shared_links {
    margin-left: 28px;
    margin-top: 10px;
}

.shared_links a {
    font-family: "DinCondProRegular";
    color: #5eaaf1;
    font-size: 12px;
}

#error_explanation h2 {
    font-family: "DinCondProBold";
    font-size: 16px;
}

#error_explanation li {
    font-family: "DinCondProRegular";
    font-size: 14px; 
    color: red;
}

#overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    background: #000;
    opacity: 0.7;
    z-index: 9000;
    width: 100%;
    height: 100%;
    display: none;
}

#success_popup, .form-popup {
    position: absolute;
    width: 518px;
    height: 180px;
    border-top: 10px solid #5eaaf1;
    top: 0;
    left: 0;
    background: white;
    z-index: 9001;
    display: none;
}

.popup_btn {
    width: 100%;
    background: #2f3b5f;
    display: block;
    height: 32px;
    font-family: "DinCondProBold";
    color: #fefeff;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    position: relative;
    top: 102px;
    padding-top: 9px;
}

.popup_header {
    width: 100%;
    display: block;
    text-align: center;
    position: relative;
    top: 30px;
    color: #5eaaf1;
    font-family: "DinCondProBold";
    font-size: 16px;
}

.popup_content {
    position: relative;
    top: 60px;
    display: block;
    width: 100%;
    text-align: center;
    color: #707070;
    font-family: "DinCondProReular";
    font-size: 16px;
}


.advert_info_left_column, .advert_info_right_column {
    float: left;
}

.advert_info {
    width: 924px;
    margin-left: 25px;
    margin-top: 45px;
}

.preview-list {
    padding: 0;
    list-style-type: none;
    margin-top: 0;
}

.preview-list li {
    float: left;
    margin-right: 5px;
}

.advert_info_right_column {
    padding-left: 38px;
}

.advert_info_header {
    font-family: "DinCondProRegular";
    font-size: 20px;
    color: #559cd2;
}

.advert_info_price {
    display: inline-block;
    color: white;
    font-family: "DinCondProBold";
    font-size: 20px;
    padding: 7px;
    background: #5eaaf1;
    margin-top: 19px;
}

.advert_info_phone {
    display: inline-block;
    font-family: "DinCondProReular";
    font-size: 14px;
    color: #707070;
    border-bottom: 1px dotted #707070;
    cursor: pointer;
    margin-left: 33px;
}

.advert_info_params {
    margin-top: 28px;
    line-height: 20px;
}

.advert_info_params div {
    float: left;
}

.advert_info_main_params {
    width: 182px;
    border-right: 1px solid rgba(228, 228, 228, 0.5);
}

.advert_param_label {
    font-family: "DinCondProBold";
    font-size: 14px;
    color: #707070;
}

.advert_param_value {
    font-family: "DinCondProRegular";
    font-size: 14px;
    color: #707070;
}

.advert_info_complectation {
    padding-left: 69px;
}

.advert_info_complectation_header {
    font-family: "DinCondProBold";
    color: #343434;
    font-size: 14px;
}

.advert_info_complectation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 170px;
}

.advert_info_complectation ul li {
    /*float: left;*/
    margin-top: 5px;
    font-family: "DinCondProRegular";
    font-size: 14px;
    color: #707070;
    /*width: 160px;*/
}


.advert_info_addition_info {
    margin-top: 20px;
}

.advert_info_addition_info_header {
    font-family: "DinCondProRegular";
    color: #2a2a2a;
    font-size: 20px;
}

.advert_info_addition_info_content {
    font-family: "DinCondProRegular";
    color: #707070;
    font-size: 14px;
    margin-top: 12px;
}

.comment_type {
    margin-bottom: 60px;
}

.similar-adverts {
    padding-top: 10px;
    margin-left: 30px;
}

#hardware_popup {
    height: auto;   
}

.form-popup form {
    text-align: left;
    padding-left: 67px;
}

.form-popup label {
    width: 100px;
    font-size: 15px;
    color: #707070;
    font-family: "DinCondProRegular";
}

.form-popup input {
    width: 275px;
}

.form-popup .popup_content {
    top: 40px;   
}

.popup_errors {
    margin: 0;
    padding: 0;
    width: 340px;
    margin-left: 99px;
    margin-bottom: 20px;
    border: 1px solid rgba(218, 183, 183, 0.65);
    background: rgba(255, 239, 239, 0.65);
    text-align: left;
    list-style-type: none;
}

.popup_errors li {
    font-family: "DinCondProRegular";
    color: #646363;
    font-size: 15px;
    margin-left: 10px;
}

fieldset {
    border: 0;
}

.close-form {
    float: right;
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: "DinCondProRegular";
    font-size: 14px;
    color: #5eaaf1;
}

#my_adverts ul {
    list-style-type: none;
    line-height: 22px;  
}



#my_adverts a {
   font-family: "DinCondProRegular";
   font-size: 14px;
   color: #5eaaf1;
   text-decoration: none; 
}

.cabinet-link {
    font-family: "DinCondProRegular";
    font-size: 15px;
    color: white;
}

.banner-slider {
    display: none;
}

.content {
    font-family: "DinCondProRegular";
    font-size: 15px;
    margin-left: 28px;
    margin-right: 28px;
    margin-top: 10px;
}

.find-service {
    background: url(asset-path('find-service.png')) no-repeat;
    width: 322px;
    height: 50px;
    margin-top: 92px;
    cursor: pointer;
}

.autoshow-description {
    font-family: "DinCondProRegular";
    font-size: 14px;
    color: #707070;
}

.news-archive-link {
    display: block;
    text-align: center;
    margin-top: 25px;
    font-family: "DinCondProBold";
    color: #559cd2;
}

.show_on_map {
    float: right;
    color: #559cd2;
}

.sort-panel
{
    margin-top: 10px;
    width: 100%;
    height: 54px;
    background: #efefef;
}

.search-panel-button {
    float: right;   
}

.sort-panel span {
    font-family: "DinCondProRegular";
    font-size: 16px;
    color: #707070;
    margin-top: 10px;
    display: inline-block;
    margin-left: 34px;
}

.sort-type {
    text-decoration: none;
}

.sort-type span {
    padding: 9px 11px 9px 11px;
}

.sort-type span img {
    top: -2px;
    left: 4px;
    position: relative;
}

.sort-type span.active {
    background: #5eaaf1;
    color: white;
}

.catalog_table {
    width: 100%;
    border-collapse: collapse;
    padding-top: 15px; 
    padding-bottom: 15px;
}

.catalog_table td {
     border-bottom: 1px solid #e6e6e6;
     padding-top: 15px;
     padding-bottom: 15px;
}