<p>Добро пожаловать, <%= @email %>!</p>

<p>Вы можете подтвердить свой аккаунт, перейдя по ссылке:</p>

<p><%= link_to 'Подтвердить мой аккаунт', confirmation_url(@resource, confirmation_token: @token) %></p>
