<p>Здравствуйте <%= @resource.email %>!</p>

<p>Кто-то запросил ссылку для смены пароля. Вы можете сделать это по ссылке ниже.</p>

<p><%= link_to 'Сменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>
