<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Ваш аккаунт заблокирован за большое количество попыток входа.</p>

<p>Перейдите по ссылке ниже, что бы разблокировать аккаунт:</p>

<p><%= link_to 'Разблокировать мой аккаунт', unlock_url(@resource, unlock_token: @token) %></p>
