<% 
	if @car.phone.blank?
		phone = User.find(@car.user_id).phone
	else
		phone = @car.phone
	end
%>
<% 
	if @car.city.blank?
		city = User.find(@car.user_id).city
	else
		city = @car.city
	end
%>
<div class="center-block" style="margin-top: 12px;background: white;padding-bottom: 30px;">
		<span class="color-label"></span>
		<span class="block-header">ЛЕГКОВЫЕ АВТО</span>
		<div class="advert_info">
			<% if @car.photo1_file_name %>
				<div class="advert_info_left_column">
					<img src="<%= @car.photo1.url(:details) %>" class="original-image">
					<ul class="preview-list">
						<li><a href="<%= @car.photo1.url(:details) %>"><img src="<%= @car.photo1.url(:details_thumb) %>" class="preview-image"></a></li>
						<% if @car.photo2_file_name %>
							<li><a href="<%= @car.photo2.url(:details) %>"><img src="<%= @car.photo2.url(:details_thumb) %>" class="preview-image"></a></li>
						<% end %>
						<% if @car.photo3_file_name %>
							<li><a href="<%= @car.photo3.url(:details) %>"><img src="<%= @car.photo3.url(:details_thumb) %>" class="preview-image"></a></li>
						<% end %>
						<% if @car.photo4_file_name %>
							<li><a href="<%= @car.photo4.url(:details) %>"><img src="<%= @car.photo4.url(:details_thumb) %>" class="preview-image"></a></li>
						<% end %>
						<% if @car.photo5_file_name %>
							<li><a href="<%= @car.photo5.url(:details) %>"><img src="<%= @car.photo5.url(:details_thumb) %>" class="preview-image"></a></li>
						<% end %>
					</ul>
					<div class="clear"></div>
				</div>
			<% end %>
			<div class="advert_info_right_column">
				<div class="advert_info_header"><%= @car.mark_name %> <%= @car.model_name %>, <%= @car.power %> л.с, <%= @car.year %> г.в.</div>
				<div class="advert_info_price">
					<%= number_to_currency(@car.price, locale: :ru, precision: 0) %>
				</div>
				<div class="advert_info_phone" data-value="<%= phone %>">
					Показать телефон продавца
				</div>
				<div class="advert_info_params">
					<div class="advert_info_main_params">
						<span class="advert_param_label">Город:</span>
						<span class="advert_param_value"><%= city %></span>
						<br />
						<span class="advert_param_label">Год выпуска:</span>
						<span class="advert_param_value"><%= @car.year %></span>
						<br />
						<span class="advert_param_label">Пробег:</span>
						<span class="advert_param_value"><%= number_with_delimiter(@car.mileage) %> км</span>
						<br />
						<span class="advert_param_label">Двигатель:</span>
						<span class="advert_param_value"><%= @car.power %> л.с.</span>
						<br />
						<span class="advert_param_label">Объем:</span>
						<span class="advert_param_value"><%= @car.displacement %> куб.см</span>
						<br />
						<span class="advert_param_label">Кузов:</span>
						<span class="advert_param_value"><%= @car.body_type %></span>
						<br />
						<span class="advert_param_label">КПП:</span>
						<span class="advert_param_value"><%= @car.transmission %></span>
						<br />
						<span class="advert_param_label">Привод:</span>
						<span class="advert_param_value"><%= @car.drive %></span>
						<br />
						<span class="advert_param_label">Руль:</span>
						<span class="advert_param_value"><%= @car.steering_wheel %></span>
					</div>
					<div class="advert_info_complectation">
						<span class="advert_info_complectation_header">Комплектация:</span>
						<ul>
							<% @car.output_params.each do |p|%>
									<% if @car.attributes[p] == 1 %>
										<li>- <%= Car.human_attribute_name(p) %></li>
									<% end %>
							<% end %>
						</ul>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<div class="advert_info_addition_info">
				<div class="advert_info_addition_info_header">Комментарий продавца</div>
				<div class="advert_info_addition_info_content">
					<%= @car.description.html_safe %>
				</div>
			</div>
		</div>
</div>
<div class="center-block" style="margin-top: 12px;background: white;padding-bottom: 30px;">
	<div class="advert_info_header similar-adverts">Похожие объявления</div>
	<div class="catalog">
			<% @cars.each do |c| %>
				<div class="item">
					<a href="/car/advert/<%= c.id%>"><img src="<%= c.photo1.url(:thumb)%>"></a>
					<% if c.status_new != 1 %>
						<span class="spec-order-label"><img src="<%= image_path('spec-order-label.png') %>"></span>
					<% end %>
					<span class="spec-order-item-header"><a href="/car/advert/<%= c.id%>"><%= c.mark_name%> <%= c.model_name%></a></span>
					<span class="spec-order-year"><%= c.year %></span>
					<span class="spec-order-price"><%= c.price %> р.</span>
				</div>
			<% end %>
	</div>
</div>