<div class="center-block" style="margin-top: 12px;background: white;padding-bottom: 30px;">
		<span class="color-label"></span>
		<span class="block-header">ЛЕГКОВЫЕ АВТО</span>
		<div class="clear"></div>
		<div class="catalog">
			<% @cars.each do |c| %>
				<div class="item">
					<a href="/car/advert/<%= c.id%>"><img src="<%= c.photo1.url(:thumb)%>"></a>
					<% if c.status_new != 1 %>
						<span class="spec-order-label"><img src="<%= image_path('spec-order-label.png') %>"></span>
					<% end %>
					<span class="spec-order-item-header"><a href="/car/advert/<%= c.id%>"><%= c.car_mark.name%> <%= c.car_model.name%></a></span>
					<span class="spec-order-year"><%= c.year %></span>
					<span class="spec-order-price"><%= c.price %> р.</span>
				</div>
			<% end %>
		</div>
</div>
<div class="center-block" style="margin-top: 12px;background: white;padding-bottom: 30px;">
		<span class="color-label"></span>
		<span class="block-header">МАГАЗИНЫ</span>
		<div class="clear"></div>

		<div class="hardware-catalog">
			<% @spare_parts.each do |s|%>
				<div class="hardware-item">
					<div class="hardware-item-image"><a href="/spare_parts/<%= s.id%>"><img src="<%= s.image.url(:thumb) %>"></a></div>
					<div class="hardware-item-description"><a href="/spare_parts/<%= s.id%>"><%= s.name %></a></div>
				</div>
			<% end %>
		</div>
		<div class="clear"></div>
</div>

<div class="center-block" style="margin-top: 12px;background: white;padding-bottom: 30px;">
		<span class="color-label"></span>
		<span class="block-header">ТЕХ. ЦЕНТРЫ</span>
		<div class="clear"></div>

		<div class="hardware-catalog">
			<% @techcenters.each do |s|%>
				<div class="hardware-item">
					<div class="hardware-item-image"><a href="/techcenter/<%= s.id%>"><img src="<%= s.image.url(:thumb) %>"></a></div>
					<div class="hardware-item-description"><a href="/techcenter/<%= s.id%>"><%= s.name %></a></div>
				</div>
			<% end %>
		</div>
		<div class="clear"></div>
</div>