<div class="center-block" style="margin-top: 12px;background: white;padding-bottom: 30px;">
		<span class="color-label"></span>
		<span class="block-header">ЛЕГКОВЫЕ АВТО</span>
		<div class="car-marks">
			<ul <%= "style='height: auto'".html_safe if params[:all_marks] %>>
					<li><a href="/car" class="car-mark-name">Все модели <span>(<%= Car.count() %>)</span></a></li>
				<% @marks.each do |m| %>
					<li><a href="/car?car[mark]=<%= m.id_car_mark %>" class="car-mark-name"><%= m.name %> <span>(<%= m.count_cars %>)</span></a></li>
				<% end %>
			</ul>
			<div class="clear"></div>
			<a href="#" class="show-all">
				<% if params[:all_marks] %>
					Свернуть
				<% else %>
					Показать все
				<% end %>
			</a>
			<div class="sort-panel">
				<span>Сортировать по:</span>
				<% sort_type = params[:sort_type] %>
				<% if sort_type.blank? || sort_type == 'ASC' %>
					<% sort_type = 'DESC' %>
				<% else %>
					<% sort_type = 'ASC' %>
				<% end %>
				<a href="<%= url_for(params.merge({:sort => 'price', :sort_type => sort_type })) %>" class="sort-type">
					<span <%= 'class=active' if(params[:sort] == 'price' || params[:sort].blank?) %>>
						цене
					<% if params[:sort].blank? || params[:sort] == 'price' %>
						<% if params[:sort_type] == 'ASC' %>
							<img src="<%= image_path('sort_up.png') %>">
						<% else %>
							<img src="<%= image_path('sort_down.png') %>">
						<% end %>
					<% end %>
					</span>
				</a>
				<a href="<%= url_for(params.merge({:sort => 'year', :sort_type => sort_type})) %>" class="sort-type">
					<span <%= 'class=active' if params[:sort] == 'year' %>>
						году
						<% if params[:sort] == 'year' %>
							<% if params[:sort_type] == 'ASC' %>
								<img src="<%= image_path('sort_up.png') %>">
							<% else %>
								<img src="<%= image_path('sort_down.png') %>">
							<% end %>
						<% end %>
					</span>
				</a>
				<a href="<%= url_for(params.merge({:sort => 'mileage', :sort_type => sort_type})) %>" class="sort-type">
					<span <%= 'class=active' if params[:sort] == 'mileage' %>>
						пробегу 
						<% if params[:sort] == 'mileage' %>
							<% if params[:sort_type] == 'ASC' %>
								<img src="<%= image_path('sort_up.png') %>">
							<% else %>
								<img src="<%= image_path('sort_down.png') %>">
							<% end %>
						<% end %>
					</span>
				</a>
				<a href="/car/search" class="search-panel-button">
					<img src="<%= image_path('car-panel2.png') %>" class="car-panel">
				</a>
			</div>
		</div>
		<div class="clear"></div>
		<div class="catalog">
			<table class="catalog_table">
				<% @cars.each do |c| %>
					<tr>
						<td>
							<a href="/car/advert/<%= c.id%>"><img src="<%= c.photo1.url(:thumb)%>"></a>
							<br />
							<% if c.status_new != 1 %>
								<span class="spec-order-label" style="margin-top: -20px;"><img src="<%= image_path('spec-order-label.png') %>"></span>
							<% end %>
						</td>
						<td>
							<span class="spec-order-item-header"><a href="/car/advert/<%= c.id%>"><%= c.mark_name%> <%= c.model_name%></a></span><br />
							<span class="spec-order-year"><%= c.power %> л.с.</span>
						</td>
						<td>
							<span class="spec-order-price"><%= c.price %> р.</span>
						</td>
						<td>
							<span class="spec-order-year"><%= c.year %> г. в.</span>
						</td>
						<td>
							<span class="spec-order-year"><%= c.mileage %> км</span>
						</td>
						<td>
							<span class="spec-order-year"><%= c.steering_wheel %> руль</span>
						</td>
						<td>
							<span class="spec-order-year">Привод <%= c.drive %></span>
						</td>
						<td>
							<span class="spec-order-year">
								<% if c.city.blank? %>
									<%= User.find(c.user_id).city %>
								<% else %>
									<%= c.city %>
								<% end %>
							</span>
						</td>
					</tr>
				<% end %>
			</table>
		</div>
</div>