	<div class="center-block" style="margin-top: 12px;background: white;padding-bottom: 30px;">
	<%= form_tag("/car", method: "get", id: 'search_car_form') do %>
		<span class="color-label"></span>
		<span class="block-header">РАСШИРЕННЫЙ ПОИСК</span>
		<div class="filter-column">
			<ul class="type">
				<li data-value="1">Новые</li>
				<li class="active" data-value="0">С пробегом</li>
			</ul>
			<%= hidden_field_tag 'car[status_new]', 0%>
			<div class="clear"></div>
			<div class="fields">
				<label>МАРКА</label>
				<span class="select" data-window="mark"><span class="select-value">
					--
				</span> <img src="<%= image_path('arrow-select.png') %>" /></span>
				<div class="select-windows" id="mark-select"> 
					<% Car::get_marks().each do |m| %>
						<a href="#" data-field="mark" data-id="<%= m[0] %>" data-name="<%= m[1] %>" class="select-window-value"><%= m[1] %></a>
					<% end %>
				</div>
				<%= hidden_field_tag 'car[mark]' %>
			</div>
			<div class="fields">
				<label>МОДЕЛЬ</label>
				<span class="select" data-window="model"><span class="select-value">
					--
				</span> <img src="<%= image_path('arrow-select.png') %>" /></span>
				<div class="select-windows" id="model-select"> 
					
				</div>
				<%= hidden_field_tag 'car[model]' %>
			</div>
			<div class="fields">
				<label>ЦЕНА</label><br />
				от <%= number_field_tag 'car[price_from]', nil, :class => 'price-input' %> до <%= number_field_tag 'car[price_to]', nil, :class => 'price-input' %><img src="<%= asset_path('rur.png') %>" style="margin-left: 3px;position:relative; top: 2px" />
			</div>
			<div class="fields">
				<label>НАЛИЧИЕ</label>
				<span class="select" data-window="status_access"><span class="select-value">--</span> <img src="<%= image_path('arrow-select.png') %>" /></span>
				<div class="select-windows" id="status_access-select"> 
						<a href="#" data-field="status_access" data-id="1" data-name="В наличии" class="select-window-value">В наличии</a>
						<a href="#" data-field="status_access" data-id="0" data-name="Отсутствует" class="select-window-value">Отсутствует</a>
				</div>
				<%= hidden_field_tag 'car[status_access]' %>
			</div>
			<div class="fields">
				<label>ГОД ВЫПУСКА</label><br />
			    от <%= number_field_tag 'car[year_from]', nil, :class => 'price-input' %> до <%= number_field_tag 'car[year_to]', nil, :class => 'price-input' %>
			</div>
			<div class="fields">
				<label>ПРОБЕГ</label><br />
				от <%= number_field_tag 'car[mileage_from]', nil, :class => 'price-input' %> до <%= number_field_tag 'car[mileage_to]', nil, :class => 'price-input' %>
			</div>
			<div class="fields">
				<label>ПРИВОД</label>
				<span class="select" data-window="drive"><span class="select-value">--</span> <img src="<%= image_path('arrow-select.png') %>" /></span>
				<div class="select-windows" id="drive-select"> 
						<a href="#" data-field="drive" data-id="Передний" data-name="Передний" class="select-window-value">Передний</a>
						<a href="#" data-field="drive" data-id="Задний" data-name="Задний" class="select-window-value">Задний</a>
						<a href="#" data-field="drive" data-id="4x4" data-name="4x4" class="select-window-value">4x4</a>
				</div>
				<%= hidden_field_tag 'car[drive]' %>
			</div>
			<div class="fields">
				<label>КОРОБКА</label>
				<span class="select" data-window="transmission"><span class="select-value">--</span> <img src="<%= image_path('arrow-select.png') %>" /></span>
				<div class="select-windows" id="transmission-select"> 
						<a href="#" data-field="transmission" data-id="Механическая" data-name="Механическая" class="select-window-value">Механическая</a>
						<a href="#" data-field="transmission" data-id="Автоматическая" data-name="Автоматическая" class="select-window-value">Автоматическая</a>
				</div>
				<%= hidden_field_tag 'car[transmission]' %>
			</div>
			<div class="fields">
				<label>РУЛЬ</label>
				<span class="select" data-window="steering_wheel"><span class="select-value">--</span> <img src="<%= image_path('arrow-select.png') %>" /></span>
				<div class="select-windows" id="steering_wheel-select"> 
						<a href="#" data-field="steering_wheel" data-id="Левый" data-name="Левый" class="select-window-value">Левый</a>
						<a href="#" data-field="steering_wheel" data-id="Правый" data-name="Правый" class="select-window-value">Правый</a>
				</div>
				<%= hidden_field_tag 'car[steering_wheel]' %>
			</div>
			<div class="fields">
				<label>ОБЪЕМ ДВИГАТЕЛЯ</label><br />
				от <%= number_field_tag 'car[displacement_from]', nil, :class => 'price-input' %> до <%= number_field_tag 'car[displacement_to]', nil, :class => 'price-input' %> см<sup>3</sup>
			</div>
			<div class="fields">
				<label>МОЩНОСТЬ</label><br />
				от <%= number_field_tag 'car[power_from]', nil, :class => 'price-input' %> до <%= number_field_tag 'car[power_to]', nil, :class => 'price-input' %> л.c.
			</div>
		</div>
		<div class="filter-column">
			<div class="fields">
				<label>ТИП КУЗОВА</label>
				<ul class="form-type">
					<li data-type="Седан"><img src="<%= image_path('sedan.png') %>" />Седан</li>
					<li data-type="Хэтчбек"><img src="<%= image_path('hatchback.png') %>" />Хэтчбек</li>
					<li data-type="Универсал"><img src="<%= image_path('universal.png') %>" />Универсал</li>
					<li data-type="Кросовер"><img src="<%= image_path('crosover.png') %>" />Кросовер</li>
					<li data-type="Внедорожник"><img src="<%= image_path('vnedarozhnik.png') %>" />Внедорожник</li>
					<li data-type="Лифтбек"><img src="<%= image_path('liftback.png') %>" />Лифтбек</li>
					<li data-type="Купе"><img src="<%= image_path('cupe.png') %>" />Купе</li>
					<li data-type="Пикап"><img src="<%= image_path('picap.png') %>" />Пикап</li>
					<li data-type="Лимузин"><img src="<%= image_path('limuzin.png') %>" />Лимузин</li>
					<li data-type="Кабриолет"><img src="<%= image_path('cabriolet.png') %>" />Кабриолет</li>
					<li data-type="Минивен"><img src="<%= image_path('minivan.png') %>" />Минивен</li>
					<li data-type="Фургон"><img src="<%= image_path('furgon.png') %>" />Фургон</li>
				</ul>
				<%= hidden_field_tag 'car[body_type]' %>
				<div class="clear"></div>
				<div class="fields">
					<label>ЦВЕТ</label>
					<span class="select" data-window="color"><span class="select-value">--</span> <img src="<%= image_path('arrow-select.png') %>" /></span>
					<div class="select-windows" id="color-select"> 
						<a href="#" data-field="color" data-id="Черный" data-name="Черный" class="select-window-value">Черный</a>
						<a href="#" data-field="color" data-id="Коричневый" data-name="Коричневый" class="select-window-value">Коричневый</a>
						<a href="#" data-field="color" data-id="Белый" data-name="Белый" class="select-window-value">Белый</a>
						<a href="#" data-field="color" data-id="Бежевый" data-name="Бежевый" class="select-window-value">Бежевый</a>
						<a href="#" data-field="color" data-id="Серый" data-name="Серый" class="select-window-value">Серый</a>
						<a href="#" data-field="color" data-id="Красный" data-name="Красный" class="select-window-value">Красный</a>
						<a href="#" data-field="color" data-id="Оранжевый" data-name="Оранжевый" class="select-window-value">Оранжевый</a>
						<a href="#" data-field="color" data-id="Розовый" data-name="Розовый" class="select-window-value">Розовый</a>
						<a href="#" data-field="color" data-id="Пурпурный" data-name="Пурпурный" class="select-window-value">Пурпурный</a>
						<a href="#" data-field="color" data-id="Желтый" data-name="Желтый" class="select-window-value">Желтый</a>
						<a href="#" data-field="color" data-id="Зеленый" data-name="Зеленый" class="select-window-value">Зеленый</a>
						<a href="#" data-field="color" data-id="Голубой" data-name="Голубой" class="select-window-value">Голубой</a>
						<a href="#" data-field="color" data-id="Синий" data-name="Синий" class="select-window-value">Синий</a>
						<a href="#" data-field="color" data-id="Фиолетовый" data-name="Фиолетовый" class="select-window-value">Фиолетовый</a>
					</div>
				<%= hidden_field_tag 'car[color]' %>
				</div>
				<div class="fields">
					<%= check_box_tag "car[photo]", 1 %>&nbsp;&nbsp;С фото
				</div>
			</div>
		</div>
		<div class="filter-column">
			<div class="fields">
				<label>КОМПЛЕКТАЦИЯ</label>
			</div>
			<div class="fields">
				<%= check_box_tag "car[abs]",  1 %>&nbsp;&nbsp;ABS
			</div>
			<div class="fields">
				<%= check_box_tag "car[dtc]",  1 %>&nbsp;&nbsp;Антипробуксовка (DTC)
			</div>
			<div class="fields">
				<%= check_box_tag "car[esc]",  1 %>&nbsp;&nbsp;Система курсовой устойчивости
			</div>
			<div class="fields">
				<%= check_box_tag "car[bort_computer]",  1 %>&nbsp;&nbsp;Бортовой компьютер
			</div>
			<div class="fields">
				<%= check_box_tag "car[car_condition]", 1 %>&nbsp;&nbsp;Кондиционер <!--<span class="select" style="margin-left: 5px;">-- <img src="<%= image_path('arrow-select.png') %>" /></span>-->
			</div>
			<div class="fields">
				<%= check_box_tag "car[cruise_control]", 1 %>&nbsp;&nbsp;Круиз-контроль 
			</div>
			<div class="fields">
				<%= check_box_tag "car[heated_mirrors]", 1 %>&nbsp;&nbsp;Обогрев зеркал 
			</div>
			<div class="fields">
				<%= check_box_tag "car[security_system]", 1 %>&nbsp;&nbsp;Охранная система 
			</div>
			<div class="fields">
				<%= check_box_tag "car[remote_start]", 1 %>&nbsp;&nbsp;Дистанционный пуск 
			</div>
			<div class="fields">
				<%= check_box_tag "car[parktronic]", 1 %>&nbsp;&nbsp;Парктроник 
			</div>
			<!--<div class="fields">
				<label>САЛОН</label>
				<span class="select">-- <img src="<%= image_path('arrow-select.png') %>" /></span>
			</div>-->
			<div class="fields">
				<%= check_box_tag "car[power_steering]", 1 %>&nbsp;&nbsp;Усилитель руля <!--<span class="select" style="margin-left: 5px;">-- <img src="<%= image_path('arrow-select.png') %>" /></span>-->
			</div>
			<div class="fields">
				<%= check_box_tag "car[central_locking]", 1 %>&nbsp;&nbsp;Центральный замок 
			</div>
			<div class="fields">
				<%= check_box_tag "car[electro_lifts]", 1 %>&nbsp;&nbsp;Электростеклоподъемники 
			</div>
			<div class="fields">
				<%= check_box_tag "car[electro_mirrors]", 1 %>&nbsp;&nbsp;Электрозеркала 
			</div>
			<div class="fields">
				<%= check_box_tag "car[airbag]", 1 %>&nbsp;&nbsp;Подушки безопасности 
			</div>
		</div>
		<div class="clear"></div>
		<img src="<%= image_path('search-panel.png'); %>" width="966" style="position: relative; top: 34px;cursor: pointer" onclick="$('#search_car_form').submit();">
		<% end %>
	</div>