	<div class="center-block" style="margin-top: 12px;background: white;padding-bottom: 30px;">
	<%= form_for @car, url: {controller: 'car', action: 'send_ad'}, html: {enctype: 'multypart/form-data', id: 'send_ad_form'} do |f| %>
		<span class="color-label"></span>
		<span class="block-header">ПОДАЧА ОБЪЯВЛЕНИЯ</span>
		<div id="error_explanation">
			<ul class="errors">
		 		 <% @car.errors.full_messages.each do |msg| %>
		   			 <li><%= msg %></li>
		 		 <% end %>
			</ul>
		</div>
		<div class="filter-column">
		<% if(!params[:car].blank? && params[:car][:status_new] == 1) %>"active"<%end%>
			<% if current_user.shop == true %>
				<ul class="type">
					<li class="<%= 'active' if !params[:car].blank? && params[:car][:status_new] == "1" %>" data-value="1">Новая</li>
					<li class="<%= 'active' if params[:car].blank? || params[:car][:status_new] == "0" || params[:car][:status_new].blank? %>" data-value="0">С пробегом</li>
				</ul>
				<%= f.hidden_field :status_new %>
			<% end %>
			<div class="clear"></div>
			<div class="fields">
				<label>МАРКА</label>
				<span class="select" data-window="mark"><span class="select-value">
					<% if @car.mark && mark_name = CarMark.find(@car.mark) %>
						<%= mark_name.name %>
					<% else %>
						--
					<% end %>
				</span> <img src="<%= image_path('arrow-select.png') %>" /></span>
				<div class="select-windows" id="mark-select"> 
					<% Car::get_marks().each do |m| %>
						<a href="#" data-field="mark" data-id="<%= m[0] %>" data-name="<%= m[1] %>" class="select-window-value"><%= m[1] %></a>
					<% end %>
				</div>
				<%= f.hidden_field :mark %>
			</div>
			<div class="fields">
				<label>Модель</label>
				<span class="select" data-window="model"><span class="select-value">
					<% if @car.model && model_name = CarModel.find(@car.model) %>
						<%= model_name.name %>
					<% else %>
						--
					<% end %>
				</span> <img src="<%= image_path('arrow-select.png') %>" /></span>
				<div class="select-windows" id="model-select"> 
					<% if @car.model %>
						<% car_models = CarModel.where(id_car_mark: @car.mark) %>
						<% car_models.each do |c| %>
							<a href="#" data-field="model" data-id="<%= c.id_car_model %>" data-name="<%= c.name %>" class="select-window-value" onclick="change_ajax_select_value(this); return false;"><%= c.name %></a>
						<% end %>
					<% end %>
				</div>
				<%= f.hidden_field :model %>
			</div>
			<div class="fields">
				<label>ЦЕНА</label><br />
				<%= f.number_field :price, :class => 'price-input' %><img src="<%= asset_path('rur.png') %>" style="margin-left: 3px;position:relative; top: 2px" />
			</div>
			<div class="fields">
				<label>ГОД ВЫПУСКА</label><br />
				<%= f.number_field :year, :class => 'price-input' %>
			</div>
			<div class="fields">
				<label>ПРОБЕГ</label><br />
				<%= f.number_field :mileage, :class => 'price-input' %>
			</div>
			<div class="fields">
				<label>ПРИВОД</label>
				<span class="select" data-window="drive"><span class="select-value">
					<% if @car.drive %>
						<%= @car.drive%>
					<% else %>
						--
					<% end %>
				</span> <img src="<%= image_path('arrow-select.png') %>" /></span>
				<div class="select-windows" id="drive-select"> 
						<a href="#" data-field="drive" data-id="Передний" data-name="Передний" class="select-window-value">Передний</a>
						<a href="#" data-field="drive" data-id="Задний" data-name="Задний" class="select-window-value">Задний</a>
						<a href="#" data-field="drive" data-id="4x4" data-name="4x4" class="select-window-value">4x4</a>
				</div>
				<%= f.hidden_field :drive %>
			</div>
			<div class="fields">
				<label>КОРОБКА</label>
				<span class="select" data-window="transmission"><span class="select-value">
					<% if @car.transmission %>
						<%= @car.transmission%>
					<% else %>
						--
					<% end %>
				</span> <img src="<%= image_path('arrow-select.png') %>" /></span>
				<div class="select-windows" id="transmission-select"> 
						<a href="#" data-field="transmission" data-id="Механическая" data-name="Механическая" class="select-window-value">Механическая</a>
						<a href="#" data-field="transmission" data-id="Автоматическая" data-name="Автоматическая" class="select-window-value">Автоматическая</a>
				</div>
				<%= f.hidden_field :transmission %>
			</div>
			<div class="fields">
				<label>РУЛЬ</label>
				<span class="select" data-window="steering_wheel"><span class="select-value">
					<% if @car.steering_wheel %>
						<%= @car.steering_wheel%>
					<% else %>
						--
					<% end %>
				</span> <img src="<%= image_path('arrow-select.png') %>" /></span>
				<div class="select-windows" id="steering_wheel-select"> 
						<a href="#" data-field="steering_wheel" data-id="Левый" data-name="Левый" class="select-window-value">Левый</a>
						<a href="#" data-field="steering_wheel" data-id="Правый" data-name="Правый" class="select-window-value">Правый</a>
				</div>
				<%= f.hidden_field :steering_wheel %>
			</div>
			<div class="fields">
				<label>ОБЪЕМ ДВИГАТЕЛЯ</label><br />
				<%= f.number_field :displacement, :class => 'price-input' %> см<sup>3</sup>
			</div>
			<div class="fields">
				<label>МОЩНОСТЬ</label><br />
				<%= f.number_field :power, :class => 'price-input' %> л.c.
			</div>
		</div>
		<div class="filter-column">
			<div class="fields">
				<label>ТИП КУЗОВА</label>
				<ul class="form-type">
					<li data-type="Седан"><img src="<%= image_path('sedan.png') %>" <%= 'style="border: 1px dotted black;"'.html_safe() if @car.body_type == 'Седан' %>  />Седан</li>
					<li data-type="Хэтчбек"><img src="<%= image_path('hatchback.png') %>" <%= 'style="border: 1px dotted black;"'.html_safe() if @car.body_type == 'Хэтчбек' %>  />Хэтчбек</li>
					<li data-type="Универсал"><img src="<%= image_path('universal.png') %>" <%= 'style="border: 1px dotted black;"'.html_safe() if @car.body_type == 'Универсал' %>  />Универсал</li>
					<li data-type="Кросовер"><img src="<%= image_path('crosover.png') %>" <%= 'style="border: 1px dotted black;"'.html_safe() if @car.body_type == 'Кросовер' %>  />Кросовер</li>
					<li data-type="Внедорожник"><img src="<%= image_path('vnedarozhnik.png') %>" <%= 'style="border: 1px dotted black;"'.html_safe() if @car.body_type == 'Внедорожник' %>  />Внедорожник</li>
					<li data-type="Лифтбек"><img src="<%= image_path('liftback.png') %>" <%= 'style="border: 1px dotted black;"'.html_safe() if @car.body_type == 'Лифтбек' %>  />Лифтбек</li>
					<li data-type="Купе"><img src="<%= image_path('cupe.png') %>" <%= 'style="border: 1px dotted black;"'.html_safe() if @car.body_type == 'Купе' %>  />Купе</li>
					<li data-type="Пикап"><img src="<%= image_path('picap.png') %>" <%= 'style="border: 1px dotted black;"'.html_safe() if @car.body_type == 'Пикап' %>  />Пикап</li>
					<li data-type="Кабриолет"><img src="<%= image_path('cabriolet.png') %>" <%= 'style="border: 1px dotted black;"'.html_safe() if @car.body_type == 'Кабриолет' %>  />Кабриолет</li>
					<li data-type="Лимузин"><img src="<%= image_path('limuzin.png') %>" <%= 'style="border: 1px dotted black;"'.html_safe() if @car.body_type == 'Лимузин' %>  />Лимузин</li>
					<li data-type="Минивен"><img src="<%= image_path('minivan.png') %>" <%= 'style="border: 1px dotted black;"'.html_safe() if @car.body_type == 'Минивен' %>  />Минивен</li>
					<li data-type="Фургон"><img src="<%= image_path('furgon.png') %>" <%= 'style="border: 1px dotted black;"'.html_safe() if @car.body_type == 'Фургон' %>  />Фургон</li>
				</ul>
				<%= f.hidden_field :body_type %>
				<div class="clear"></div>
				<div class="fields">
					<label>ЦВЕТ</label>
					<span class="select" data-window="color"><span class="select-value">
						<% if @car.color %>
							<%= @car.color%>
						<% else %>
							--
						<% end %>
					</span> <img src="<%= image_path('arrow-select.png') %>" /></span>
					<div class="select-windows" id="color-select"> 
						<a href="#" data-field="color" data-id="Черный" data-name="Черный" class="select-window-value">Черный</a>
						<a href="#" data-field="color" data-id="Коричневый" data-name="Коричневый" class="select-window-value">Коричневый</a>
						<a href="#" data-field="color" data-id="Белый" data-name="Белый" class="select-window-value">Белый</a>
						<a href="#" data-field="color" data-id="Бежевый" data-name="Бежевый" class="select-window-value">Бежевый</a>
						<a href="#" data-field="color" data-id="Серый" data-name="Серый" class="select-window-value">Серый</a>
						<a href="#" data-field="color" data-id="Красный" data-name="Красный" class="select-window-value">Красный</a>
						<a href="#" data-field="color" data-id="Оранжевый" data-name="Оранжевый" class="select-window-value">Оранжевый</a>
						<a href="#" data-field="color" data-id="Розовый" data-name="Розовый" class="select-window-value">Розовый</a>
						<a href="#" data-field="color" data-id="Пурпурный" data-name="Пурпурный" class="select-window-value">Пурпурный</a>
						<a href="#" data-field="color" data-id="Желтый" data-name="Желтый" class="select-window-value">Желтый</a>
						<a href="#" data-field="color" data-id="Зеленый" data-name="Зеленый" class="select-window-value">Зеленый</a>
						<a href="#" data-field="color" data-id="Голубой" data-name="Голубой" class="select-window-value">Голубой</a>
						<a href="#" data-field="color" data-id="Синий" data-name="Синий" class="select-window-value">Синий</a>
						<a href="#" data-field="color" data-id="Фиолетовый" data-name="Фиолетовый" class="select-window-value">Фиолетовый</a>
					</div>
				<%= f.hidden_field :color %>
				</div>
				<div class="fields">
					<label>Фото 1</label>
					<%= f.file_field :photo1 %>
				</div>
				<div class="fields">
					<label>Фото 2</label>
					<%= f.file_field :photo2 %>
				</div>
				<div class="fields">
					<label>Фото 3</label>
					<%= f.file_field :photo3 %>
				</div>
				<div class="fields">
					<label>Фото 4</label>
					<%= f.file_field :photo4 %>
				</div>
				<div class="fields">
					<label>Фото 5</label>
					<%= f.file_field :photo5 %>
				</div>
				<div class="fields">
					<label>ОПИСАНИЕ</label><br />
					<%= f.text_area :description, :style => "width: 275px; height: 160px" %>
				</div>
			</div>
		</div>
		<div class="filter-column">
			<div class="fields">
				<label>КОМПЛЕКТАЦИЯ</label>
			</div>
			<div class="fields">
				<% abs = true if @car.abs %>
				<%= check_box_tag "car[abs]",  1, abs %>&nbsp;&nbsp;ABS
			</div>
			<div class="fields">
				<% dtc = true if @car.dtc %>
				<%= check_box_tag "car[dtc]",  1, dtc %>&nbsp;&nbsp;Антипробуксовка (DTC) 
			</div>
			<div class="fields">
				<% esc = true if @car.esc %>
				<%= check_box_tag "car[esc]",  1, esc %>&nbsp;&nbsp;Система курсовой устойчивости 
			</div>
			<div class="fields">
				<% bort_computer = true if @car.bort_computer %>
				<%= check_box_tag "car[bort_computer]",  1, bort_computer %>&nbsp;&nbsp;Бортовой компьютер
			</div>
			<div class="fields">
				<% car_condition = true if @car.car_condition %>
				<%= check_box_tag "car[car_condition]", 1, car_condition %>&nbsp;&nbsp;Кондиционер <!--<span class="select" style="margin-left: 5px;">-- <img src="<%= image_path('arrow-select.png') %>" /></span>-->
			</div>
			<div class="fields">
				<% cruise_control = true if @car.cruise_control %>
				<%= check_box_tag "car[cruise_control]", 1, cruise_control %>&nbsp;&nbsp;Круиз-контроль 
			</div>
			<div class="fields">
				<% heated_mirrors = true if @car.heated_mirrors %>
				<%= check_box_tag "car[heated_mirrors]", 1, heated_mirrors %>&nbsp;&nbsp;Обогрев зеркал 
			</div>
			<div class="fields">
				<% security_system = true if @car.security_system %>
				<%= check_box_tag "car[security_system]", 1, security_system %>&nbsp;&nbsp;Охранная система 
			</div>
			<div class="fields">
				<% remote_start = true if @car.remote_start %>
				<%= check_box_tag "car[remote_start]", 1, remote_start %>&nbsp;&nbsp;Дистанционный пуск
			</div>
			<div class="fields">
				<% parktronic = true if @car.parktronic %>
				<%= check_box_tag "car[parktronic]", 1, parktronic %>&nbsp;&nbsp;Парктроник 
			</div>
			<!--<div class="fields">
				<label>САЛОН</label>
				<span class="select">-- <img src="<%= image_path('arrow-select.png') %>" /></span>
			</div>-->
			<div class="fields">
				<% power_steering = true if @car.power_steering %>
				<%= check_box_tag "car[power_steering]", 1, power_steering %>&nbsp;&nbsp;Усилитель руля <!--<span class="select" style="margin-left: 5px;">-- <img src="<%= image_path('arrow-select.png') %>" /></span>-->
			</div>
			<div class="fields">
				<% central_locking = true if @car.central_locking %>
				<%= check_box_tag "car[central_locking]", 1, central_locking %>&nbsp;&nbsp;Центральный замок 
			</div>
			<div class="fields">
				<% electro_lifts = true if @car.electro_lifts %>
				<%= check_box_tag "car[electro_lifts]", 1, electro_lifts %>&nbsp;&nbsp;Электростеклоподъемники 
			</div>
			<div class="fields">
				<% electro_mirrors = true if @car.electro_mirrors %>
				<%= check_box_tag "car[electro_mirrors]", 1, electro_mirrors %>&nbsp;&nbsp;Электрозеркала 
			</div>
			<div class="fields">
				<% airbag = true if @car.airbag %>
				<%= check_box_tag "car[airbag]", 1, airbag %>&nbsp;&nbsp;Подушки безопасности 
			</div>
		</div>
		<div class="clear"></div>
		<img id="send_ad_btn" src="<%= image_path('send-ad.png'); %>" width="966" style="position: relative; top: 34px;cursor:pointer" onclick="$('#send_ad_form').submit();">
<% end %>
</div>
<% if @status_success == 1 %>
<script type="text/javascript">
	$(document).ready(function(){
			showSuccessForm(518, 180, 'Ваше объявление успешно добавлено.', 'ПОДАЧА ОБЪЯВЛЕНИЯ');
	});
</script>
<% end %>