<div class="center-block" style="margin-top: 12px;background: white;padding-bottom: 30px;">
		<span class="color-label"></span>
		<span class="block-header">АВТОСАЛОНЫ</span>

		<div class="hardware-catalog">
			<% @autoshows.each do |s|%>
				<div class="hardware-item">
					<div class="hardware-item-image"><a href="/autoshow/<%= s.id%>"><img src="<%= s.image.url(:thumb) %>"></a></div>
					<div class="hardware-item-description"><a href="/autoshow/<%= s.id%>"><%= s.name %></a></div>
				</div>
			<% end %>
		</div>
		<div class="clear"></div>
</div>