<div class="center-block" style="margin-top: 12px;background: white;padding-bottom: 30px;">
		<span class="color-label"></span>
		<span class="block-header"><%= @shop.name %></span>
		<div class="advert_info">
			<% if @shop.image_file_name %>
				<div class="advert_info_left_column">
					<img src="<%= @shop.image.url(:thumb_details) %>" class="original-image">
				</div>
			<% end %>
			<div class="advert_info_right_column">
				<div class="advert_info_header" style="float: left"><%= @shop.name%></div>
				<a class="show_on_map" href="/map?show_area=<%= @shop.map_label %>">Показать на карте</a>
				<div class="clear"></div>
				<div class="advert_info_params">
					<div class="advert_info_main_params" style="width: 210px">
						<span class="advert_param_label">Телефон:</span>
						<span class="advert_param_value"><%= @shop.phone %></span>
						<br />
						<span class="advert_param_label">Email:</span>
						<span class="advert_param_value"><%= @shop.email %></span>
						<br />
						<span class="advert_param_label">Адрес:</span>
						<span class="advert_param_value"><%= @shop.address %></span>
						<br />
						<span class="advert_param_label">Сайт:</span>
						<span class="advert_param_value"><%= @shop.site %></span>
					</div>
					<div class="advert_info_complectation autoshow-description">
						<%= @shop.description.html_safe %>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<div class="advert_info_addition_info">
				<div class="advert_info_addition_info_header">Объявления</div>
				<div class="advert_info_addition_info_content">
					<div class="catalog" style="padding-top: 10px;">
						<% if @cars.size != 0 %>
							<% @cars.each do |c| %>
								<div class="item">
									<a href="/car/advert/<%= c.id%>"><img src="<%= c.photo1.url(:thumb)%>"></a>
									<% if c.status_new != 1 %>
										<span class="spec-order-label"><img src="<%= image_path('spec-order-label.png') %>"></span>
									<% end %>
									<span class="spec-order-item-header"><a href="/car/advert/<%= c.id%>"><%= c.mark_name%> <%= c.model_name%></a></span>
									<span class="spec-order-year"><%= c.year %></span>
									<span class="spec-order-price"><%= c.price %> р.</span>
								</div>
							<% end %>
						<% else %>
							Автосалон еще не добавил ни одного объявления =(
						<% end %>
					</div>
				</div>
			</div>
		</div>
</div>