<div id="hardware_popup" class="form-popup">
	<a href="#" class="close-form">Закрыть</a>
	<span class="popup_header" id="popup_header">НАЙТИ ЗАПЧАСТЬ</span>
	<span class="popup_content" id="popup_content">
		<% if @shop_query.errors.count != 0 %>
			<ul class="popup_errors">
			<% @shop_query.errors.full_messages.each do |msg| %>
				<li><%= msg%></li>
			<% end %>
			</ul>
		<% end %>	
		<%= form_for @shop_query, url: '/', method: 'post' do |f|%>
			<fieldset>
				<%= f.label :name %>
				<%= f.text_field :name %>
			</fieldset>
			<fieldset>
				<%= f.label :email %>
				<%= f.email_field :email %>
			</fieldset>
			<fieldset>
				<%= f.label :phone %>
				<%= f.text_field :phone %>
			</fieldset>
			<fieldset>
				<%= f.label :win %>
				<%= f.text_field :win %>
                <%= image_tag 'vin.jpg', :style => "margin-top: 10px;margin-right: 29px;float: right;" %>
			</fieldset>
			<fieldset>
				<%= f.label :power %>
				<%= f.number_field :power %>
			</fieldset>
			<fieldset>
				<%= f.label :size %>
				<%= f.number_field :size %>
			</fieldset>
			<fieldset>
				<%= f.label :description %>
				<%= f.text_area :description, :style => "width: 275px; height: 100px;" %>
			</fieldset>
			<%= f.hidden_field :car_mark_id %>
			<%= f.hidden_field :car_model_id %>
			<%= f.hidden_field :year %>
		<% end %>
	</span>
	<span class="popup_btn">ОТПРАВИТЬ ЗАПРОС В МАГАЗИНЫ</span>
</div>

<% if params[:shop_query] && @shop_query.errors.count != 0 %>
	<script type="text/javascript">
		$(window).load(function(){
			showForm('hardware_popup');
		});
	</script>
<% end %>
<% if params[:shop_query] && @shop_query.errors.count == 0 %>
	<script type="text/javascript">
		$(document).ready(function(){
			showSuccessForm(518, 180, 'Ваш запрос отправлен. С вами свяжутся администраторы магазинов.', 'ЗАПРОС УСПЕШНО ОТПРАВЛЕН')
		});
	</script>
<% end %>