<div id="rent_popup" class="form-popup">
	<a href="#" class="close-form">Закрыть</a>
	<span class="popup_header" id="popup_header">АРЕНДОВАТЬ ПАВИЛЬОН</span>
	<span class="popup_content" id="popup_content">
		<% if @request_rent.errors.count != 0 %>
			<ul class="popup_errors">
			<% @request_rent.errors.full_messages.each do |msg| %>
				<li><%= msg%></li>
			<% end %>
			</ul>
		<% end %>	
		<%= form_for @request_rent, url: '', method: 'post' do |f|%>
			<fieldset>
				<%= f.label :name %>
				<%= f.text_field :name %>
			</fieldset>
			<fieldset>
				<%= f.label :email %>
				<%= f.email_field :email %>
			</fieldset>
			<fieldset>
				<%= f.label :phone %>
				<%= f.text_field :phone %>
			</fieldset>

			<fieldset>
				<%= f.label :sq %>
				<%= f.number_field :sq %>
			</fieldset>
			<fieldset>
				<%= f.label :info %>
				<%= f.text_area :info, :style => "width: 275px; height: 100px;" %>
			</fieldset>
		<% end %>
	</span>
	<span class="popup_btn">ОТПРАВИТЬ ЗАПРОС</span>
</div>

<% if params[:request_rent] && @request_rent.errors.count != 0 %>
	<script type="text/javascript">
		$(document).ready(function(){
			showForm('rent_popup');
		});
	</script>
<% end %>
<% if params[:request_rent] && @request_rent.errors.count == 0 %>
	<script type="text/javascript">
		$(document).ready(function(){
			showSuccessForm(518, 180, 'Ваш запрос отправлен. С вами свяжутся администраторы.', 'ЗАПРОС УСПЕШНО ОТПРАВЛЕН')
		});
	</script>
<% end %>