<div id="overlay"></div>
<div id="success_popup">
	<span class="popup_header" id="popup_header">ПОДАЧА ОБЪЯВЛЕНИЯ</span>
	<span class="popup_content" id="popup_content">Ваше объявление успешно добавлено.</span>
	<span class="popup_btn">ОК</span>
</div>